<div class = "questions">
<%= @question %>
<span><em>~You</em></span>
</div>

<div class= "answer">
<%= @answer %>
<span><em>~Your coach</em></span>
</div>
<div class="back">
<a href="/ask">Ask a new question</a>
</div>
